<div class="wrapper">
	<div class="banner-content">
		<div class="niddcap-info">
			<p><span>George Sutcliffe</span></p>
			<p><%= link_to "george.sutcliffe@niddcap.co.uk", "mailto:george.sutcliffe@niddcap.co.uk" %></p>
			<p><a href="tel:+44-792-519-0505">+44 (0)7925 190 505</a></p>
			<p><a href="tel:+44-208-133-5052">+44 (0)208 133 5052</a></p>
		</div>
		<div class="niddcap-logo">
			<%= image_tag "Nidd_Cap_logo.png", alt: "Nidderdale Capital", class: "fadeIn" %>
		</div>
	</div>
</div>

